<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.EmployeeMapper">
    <select id="selectAll" resultType="tws.entity.Employee">
        select * from `employee`;
    </select>
    
    <insert id="insertEmployee">
    	insert into employee (id,name,age)
    	values
    	(#{employee.id},#{employee.name},#{employee.age})
    </insert>
    
    <select id="fetchEmployeeById" resultType="tws.entity.Employee">
        select * from `employee`
        where
        id = #{id};
    </select>
    
    <update id="updateEmployeeById">
    	update employee set 
    	employee.name = #{employee.name},
    	employee.age = #{employee.age}
    	where
    	employee.id = #{employee.id}
    </update>
    
    <delete id="deleteEmployeeById">
    	delete from employee
    	where
    	id = #{id}
    </delete>
    
    <select id="selectByName" resultType="tws.entity.Employee">
    	select * from employee
 		<where>
    		<if test="name != null and name != ''">
        		and name like '%${name}%'
   		 	</if>
    	</where>
    </select>
    
    <!--   select *
        FROM user
		ORDER BY first_name
		OFFSET 5 ROWS FETCH NEXT 10 ROWS ONLY; -->
    <select id="selectAllEmployees" resultType="tws.entity.Employee">
        select * from   employee  order by id desc
        <if test="offSet !=null and pageSize!=null">
            limit #{offSet},#{pageSize}
        </if>
    </select>
    
    
    
</mapper>
